body{
    background-color: blueviolet;
    color: white
    
}
h1{
    color: rgb(211, 94, 211);
}
.green-text{
    color: green;
}
.bold-text{
    font-weight: bold;
    font-size:large;
}

.socials{
    display: flex;
    gap: 36p;
}